@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: visible;
  font-family: poppins, monospace;
}

body {
  font-family: Arial, sans-serif;
  
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(to bottom right, #CDFCF6, #ffffff);
  
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #151965;
}

body::-webkit-scrollbar-track {
  background: aqua;
  border-radius: 5px;
}

@keyframes fadeAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.team {
  text-align: center;
  position: relative;
  top: 60px;
  left: -40px;
  overflow: hidden;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 35px;
  color: #32407B;
 font-weight: bolder;
 
}



.boxaccordion {
  text-align: center;
}

.containerwidth {
  position: relative;
  top: 120px;
  left: 14%;
  width: 70%;
  margin-bottom: 350px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 20px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2);
  overflow: hidden;
}

.toggle {
  text-align: left;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #32407B;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
}

.content {
  color: #32407B;
  position: relative;
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}



.toggle,
.content {
  font-family: "Poppins", sans-serif;
  
}


@media (max-width: 768px) {
  .containerwidth {
    left: 10%;
    width: 80%;
  }
  
  .wrapper {
    overflow: auto;
  }
  .team{
    left: -10px;
    font-weight: 500;
  }
} 